.header {
    background: #00215f;
    flex: 1;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 1px;
    color: white;
    text-align: center;
    box-shadow: 0px 17px 28px #d8d8d8;
}

// .header-cable {
//     flex: 3;
//     height: 20px;
//     border-top: 5px solid #E33;
//     border-bottom: 5px solid #3E3;
// }