.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.decor-cable1 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 60%;
    border-top: 5px solid rgba(0, 170, 154, 0.7);
    border-right: 5px solid rgba(0, 170, 154, 0.7);
    border-radius: 0 50px 0;
  }
.decor-cable2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    height: 98%;
    border-top: 5px solid rgba(190, 0, 0, 0.7);
    border-right: 5px solid rgba(190, 0, 0, 0.7);
    border-radius: 0 50px 0;
}
.decor-cable3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    height: 98%;
    border-top: 5px solid rgba(0, 126, 17, 0.7);
    border-right: 5px solid rgba(0, 126, 17, 0.7);
    border-radius: 0 50px 0;
}
  
.decor-rect1 {
    background: rgba(30, 30, 30, 0.12);
    position: absolute;
    z-index: -1;
    top: 15%;
    left: 0;
    width: 25%;
    height: 500px;
    border-radius: 0 50px 50px 0;
}
  
.decor-rect2 {
    background: rgba(30, 30, 30, 0.15);
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    border-radius: 50px 0 0 0;
}

.radio {
    flex: 1;
    margin: 5px;
    position: relative;
    background: #36E;
    width: 80px;
    height: 40px;
    padding: 0 10px 0 10px;
    border: 1px solid #2555DD;
    border-radius: 10px;
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fcfcfc;
        font-size: 20px;
        font-weight: 600;
    }
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    &:has(input:checked) {
        background: #256;
    }
}

.text-small {
    font-size: 15px !important;
    text-align: center;
}
.text-tiny {
    font-size: 14px !important;
    text-align: center;
  }

.radio-podtype {
    width: 40px;
}

.form-major {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    padding: 10px;
}

.form-minor {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.form-strands {
    .radio {
        width: 150px;
    }
}

.form-submit {
    width: 40%;
}