.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

form {
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.radio {
    flex: 1;
    margin: 5px;
    position: relative;
    background: #36E;
    width: 80px;
    height: 40px;
    padding: 0 20px 0 20px;
    border: 1px solid #2555DD;
    border-radius: 10px;
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fcfcfc;
        font-size: 18px;
        font-weight: 600;
    }
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    &:has(input:checked) {
        background: #58E;
    }
}

.text-small {
    font-size: 13px !important;
    text-align: center;
}
.text-tiny {
    font-size: 10px !important;
    text-align: center;
  }

.radio-podtype {
    width: 40px;
}

.form-metal {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 10px;
}

.form-metal-type {
    display: flex;
    justify-content: space-between;
    width: 700px;
    padding: 5px;
}

.form-metal-podtype {
    display: flex;
    justify-content: space-between;
}

.form-isolation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.form-isolation-elements {
    display: flex;
    width: 700px;
}

.form-strands {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    .radio {
        width: 150px;
    }
}

.form-strands-elements {
    display: flex;
    width: 700px;
    padding: 5px;
}

.form-instalation {
    display: flex;
    justify-content: center;
    width: 700px;
    padding: 10px;
}
.form-instalation-elements {
    display: flex;
    width: 700px;
}

.form-temperature {
    display: flex;
    justify-content: center;
    width: 700px;
    padding: 10px;
}

.form-resistation {
    display: flex;
    justify-content: center;
    width: 700px;
    padding: 10px;
}

.form-submit {
    width: 40%;
}