.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    position: relative;
}
.main::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    background-image: url("/src/assets/power-lines-1868352_1920.jpg");
    filter: opacity(0.05);
    width: 100%;
    height: 100%;
    z-index: -1;
}
* {
    font-family: 'Inter', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    width: max(min-content,70%);
    padding-inline: 7rem;
    padding-bottom: 4rem;
    box-shadow:  19px 19px 41px #e2e2e2,
    -19px -19px 41px #e2e2e2;
    margin: 20px;
}

// .decor-cable1 {
//     position: absolute;
//     z-index: -1;
//     bottom: 0;
//     left: 0;
//     width: 15%;
//     height: 60%;
//     border-top: 5px solid rgba(0, 170, 154, 0.7);
//     border-right: 5px solid rgba(0, 170, 154, 0.7);
//     border-radius: 0 50px 0;
//   }
// .decor-cable2 {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 96%;
//     height: 98%;
//     border-top: 5px solid rgba(190, 0, 0, 0.7);
//     border-right: 5px solid rgba(190, 0, 0, 0.7);
//     border-radius: 0 50px 0;
// }
// .decor-cable3 {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 96%;
//     height: 98%;
//     border-top: 5px solid rgba(0, 126, 17, 0.7);
//     border-right: 5px solid rgba(0, 126, 17, 0.7);
//     border-radius: 0 50px 0;
// }
  
// .decor-rect1 {
//     background: rgba(30, 30, 30, 0.12);
//     position: absolute;
//     z-index: -1;
//     top: 15%;
//     left: 0;
//     width: 25%;
//     height: 500px;
//     border-radius: 0 50px 50px 0;
// }
  
// .decor-rect2 {
//     background: rgba(30, 30, 30, 0.15);
//     position: absolute;
//     z-index: -1;
//     bottom: 0;
//     right: 0;
//     width: 500px;
//     height: 500px;
//     border-radius: 50px 0 0 0;
// }

.radio {
    flex: 1;
    margin: 5px;
    position: relative;
    // background: #36E;
    width: 80px;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 50px;
    background: #ffffff;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  -6px -6px 12px #e0e0e0,
                 6px 6px 12px #ffffff;
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    &:has(input:checked) {
        background: #faf8f7;
        // background: #ff5c0008;
        box-shadow: inset 7px 7px 14px #d3cac6,
                    inset -7px -7px 14px #eeeeee;
    }
}
.input-number {
    outline: none;
    border: none;
    flex: 1;
    position: relative;
    text-align: center;
    // background: #36E;
    width: 80px;
    height: 40px;
    padding:  10px;
    border-radius: 50px;
    background: #ffffff;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 6px 6px 12px #e0e0e0,
                inset -6px -6px 12px #ffffff;
    position: relative;
}
.slider + label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 6px 6px 12px #e0e0e0,
                inset -6px -6px 12px #ffffff;
    position: relative;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ffffff;
        box-shadow:  6px 6px 12px #d3cac6,
                    -6px -6px 12px #eeeeee;
        cursor: pointer;
    }
    &::-moz-range-thumb {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ffffff;
        box-shadow:  6px 6px 12px #d3cac6,
                    -6px -6px 12px #eeeeee;
        cursor: pointer;
    }
    
}
button[type="submit"] {
    background: #ffa500;
    outline: none;
    border: none;
    border-radius: 50px;
    color: white;
    margin-top: 30px;
    padding:  10px;

    box-shadow:  6px 6px 12px #d3cac6,
                -6px -6px 12px #eeeeee;
    cursor: pointer;
    &:hover {
        background: #ec9900;
        // background: #ff5c0008;
        // box-shadow: inset 7px 7px 14px #d3cac6,
        //             inset -7px -7px 14px #eeeeee;
    }
    &:active {
        background: #faf8f7;
        color: black;
        // background: #ff5c0008;
        box-shadow: inset 7px 7px 14px #d3cac6,
                    inset -7px -7px 14px #eeeeee;
    }
}

.text-small {
    font-size: 15px !important;
    text-align: center;
}
.text-tiny {
    font-size: 14px !important;
    text-align: center;
  }

.radio-podtype {
    width: 40px;
}

.form-major {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    padding: 10px;
}

.form-minor {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.form-strands {
    .radio {
        width: 150px;
    }
}

.form-submit {
    width: 40%;
}